<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
    <h1> test django</h1>

    {% for profiles in profile %}
    <h1>{{ profiles.name }}</h1>
    <h2>{{ profiles.age }}</h2>
    <h3>{{ profiles.address }}</h3>
    <img src="{{ profiles.image.url }}" alt="Image">
<hr> 
    {% endfor %}
    </body>
</html>